@import "./systemDesing.css";

/* //// NAV \\\\ */
nav {
  background: var(--MainColor);
  color: var(--WhiteColor);
  height: 40px;
}
/* //// HEADER \\\\ */
header {
  background: linear-gradient(
    96deg,
    rgba(230, 238, 224, 0.778417) 32.72%,
    rgba(230, 238, 224, 0) 99.73%
  );
  padding: 50px 0 20px;
}
/* //// HEADER FORM \\\\ */
ul {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: var(--Spacing10) 0;
  gap: 10px 0;
}
ul li {
  padding: 0 var(--Spacing10);
}
label {
  display: block;
}
select {
  width: 120px;
  border: none;
}
button {
  background-color: var(--MainColor);
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 15px;
}
button:hover {
  background-color: var(--BlackColor);
}
button input {
  border: none;
  background: transparent;
  color: var(--WhiteColor);
  font-size: var(--M);
  cursor: pointer;
}
/* //// SECTION \\\\ */
section {
  margin: calc(2 * var(--Spacing10)) var(--Spacing10);
}
section div.center {
  flex-direction: row;
  gap: 10px;
}
h3 {
  color: var(--BlackColor) !important;
  display: inline;
  margin-bottom: 10px;
}
span {
  color: var(--MainColor);
  font-size: 30px;
}
.btn-order {
  border: 2px solid var(--MainColor);
  border-radius: 2px;
  background-color: var(--MainColor);
  color: var(--WhiteColor);
  float: left;
  height: 30px;
}

/* //// TABLE \\\\ */
table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}
thead {
  color: var(--MainColor);
}
th {
  padding-bottom: 10px;
}
tbody tr td {
  padding: 10px 0;
}
tbody tr:nth-child(odd) {
  background-color: var(--transparentColor);
}
.numPage {
  flex-direction: row !important;
}
.numPage a {
  padding: var(--Spacing10);
  color: var(--MainColor);
  font-weight: bold;
}
/* //// FOOTER \\\\ */
footer {
  background: var(--BackgroundColor);
}
footer img {
  width: 50%;
  margin: 0 auto;
}
footer ul li {
  margin: 0 auto;
}
footer a {
  font-weight: bold;
  color: var(--BlackColor);
}
/* //// Classes Public \\\\ */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p10 {
  padding: var(--Spacing10);
}
.w-auto {
  max-width: 1020px;
  margin: 0 auto;
}
