@import "./systemDesing.css";

body {
  margin: 0 auto;
}
/* //// HEADER \\\\ */
header > div {
  display: grid;
  grid-template-columns: 50% 20%;
}
header h1 {
  width: auto;
}
header img {
  width: auto;
  opacity: 1;
}
/* //// MAIN \\\\ */
ul {
  grid-template-columns: auto auto auto auto;
}
table {
  width: 50%;
  margin: 0 auto;
}
/* //// FOOTER \\\\ */
footer {
  margin-top: calc(4 * var(--Spacing10));
}
footer img {
  width: 20%;
}
footer ul {
  padding-top: var(--Spacing10);
  grid-template-columns: repeat(2, auto);
  width: 35%;
  margin: 0 auto;
}
